<footer id="footer" role="contentinfo">
	<p class="powered-by">
		#language ("powered-by") <a href="http://www.i3mainz.fh-mainz.de" rel="external">i3mainz - Institut für Raumbezogene Informations- und Messtechnik</a>
	</p>
</footer>